body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #1e293b;
}

.top-bar {
  background: #1e3b8a00;
  color: rgba(255, 255, 255, 0);
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.navbar {
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}
.logo span {
  color: #9d0c0c;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
}

.navbar ul li a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.slider-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slider {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #ffffff;
  color: #1e3a8a;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

.parallax-section {
  background: url('../hero3.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 120px 40px;
  color: white;
  text-align: center;
}

.content-box {
  background: rgba(0, 0, 0, 0.5);
  max-width: 800px;
  margin: auto;
  padding: 40px;
  border-radius: 12px;
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 20px;
  background: #666666;
}

.feature {
  width: 250px;
  text-align: center;
}

.feature img {
  width: 64px;
  margin-bottom: 10px;
}

footer {
  background: #818181;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 30px 20px;
  margin-top: 60px;
}

/* Transparan background untuk dashboard */
.dashboard-box {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  max-width: 1000px;
  margin: 40px auto;
  color: #1e293b;
}
